<div class="steps">
  <div class="step" [class.active]="step === 1">
    <div class="step-info">Your Info</div>
  </div>
  <div class="step" [class.active]="step === 2">
    <div class="step-info">Select Plan</div>
  </div>
  <div class="step" [class.active]="step === 3">
    <div class="step-info">Add-ons</div>
  </div>
  <div class="step" [class.active]="step === 4">
    <div class="step-info">Summary</div>
  </div>
</div>
<form [formGroup]="form">
  <div *ngIf="step === 1" class="form-step">
    <div class="form-group" [formGroup]="personalInfo">
      <div class="header">
        <h1>Personal Info</h1>
        <p>Please provide your name, email address and phone number.</p>
      </div>
      <div class="form-group-inputs">
        <div class="form-control">
          <div class="header">
            <label for="name">Name</label>
            <div
              *ngIf="
                personalInfo.get('name')?.invalid &&
                (personalInfo.get('name')?.touched ||
                  personalInfo.get('name')?.dirty)
              "
              class="errors"
            >
              <div *ngIf="personalInfo.get('name')?.errors?.['required']">
                This field is required
              </div>
            </div>
          </div>
          <input type="text" name="name" id="name" formControlName="name" />
        </div>
        <div class="form-control">
          <div class="header">
            <label for="email">Email</label>
            <div
              *ngIf="
                personalInfo.get('email')?.invalid &&
                (personalInfo.get('email')?.touched ||
                  personalInfo.get('email')?.dirty)
              "
              class="errors"
            >
              <div *ngIf="personalInfo.get('email')?.errors?.['required']">
                This field is required
              </div>
              <div *ngIf="personalInfo.get('email')?.errors?.['pattern']">
                Not a valid email
              </div>
            </div>
          </div>
          <input type="text" name="email" id="email" formControlName="email" />
        </div>
        <div class="form-control">
          <div class="header">
            <label for="phone">Phone Number</label>
            <div
              *ngIf="
                personalInfo.get('phone')?.invalid &&
                (personalInfo.get('phone')?.touched ||
                  personalInfo.get('phone')?.dirty)
              "
              class="errors"
            >
              <div *ngIf="personalInfo.get('phone')?.errors?.['required']">
                This field is required
              </div>
            </div>
          </div>
          <input type="text" name="phone" id="phone" formControlName="phone" />
        </div>
      </div>
    </div>
    <div class="form-nav">
      <button type="button" (click)="nextStep()">Next Step</button>
    </div>
  </div>
  <div *ngIf="step === 2" class="form-step">
    <div class="form-group" [formGroup]="plan">
      <div class="header">
        <h1>Select your plan</h1>
        <p>You have the option of monthly or yearly billing.</p>
      </div>
      <div class="form-group-inputs">
        <div class="radio-inputs">
          <div class="form-control">
            <app-form-radio-button
              title="Arcade"
              [info]="!plan.get('yearly')?.value ? '$9/month' : '$90/year'"
              [controlGroup]="plan"
              controlName="type"
              iconUrl="../../../assets/images/icon-arcade.svg"
              value="Arcade"
            ></app-form-radio-button>
          </div>
          <div class="form-control">
            <app-form-radio-button
              title="Advanced"
              [info]="!plan.get('yearly')?.value ? '$12/month' : '$120/year'"
              [controlGroup]="plan"
              controlName="type"
              iconUrl="../../../assets/images/icon-advanced.svg"
              value="Advanced"
            ></app-form-radio-button>
          </div>
          <div class="form-control">
            <app-form-radio-button
              title="Pro"
              [info]="!plan.get('yearly')?.value ? '$15/month' : '$150/year'"
              [controlGroup]="plan"
              controlName="type"
              iconUrl="../../../assets/images/icon-pro.svg"
              value="Pro"
            ></app-form-radio-button>
          </div>
        </div>
        <div class="form-control">
          <app-form-toggle-button
            [controlGroup]="plan"
            controlName="yearly"
            firstLabel="Monthly"
            secondLabel="Yearly"
          ></app-form-toggle-button>
        </div>
      </div>
    </div>
    <div class="form-nav">
      <button type="button" class="back" (click)="previousStep()">
        Go Back
      </button>
      <button type="button" (click)="nextStep()">Next Step</button>
    </div>
  </div>
  <div *ngIf="step === 3" class="form-step">
    <div class="form-group" [formGroup]="addOns">
      <div class="header">
        <h1>Pick add-ons</h1>
        <p>Add-ons help enhance your gaming experience.</p>
      </div>
      <div class="form-group-inputs">
        <div class="form-control">
          <app-form-checkbox-button
            [controlGroup]="addOns"
            controlName="onlineService"
            title="Online Service"
            info="Access to multiplayer games"
            [price]="!plan.get('yearly')?.value ? '+1$/mo' : '+10$/yr'"
          ></app-form-checkbox-button>
        </div>
        <div class="form-control">
          <app-form-checkbox-button
            [controlGroup]="addOns"
            controlName="storage"
            title="Larger Storage"
            info="Extra 1TB of cloud save"
            [price]="!plan.get('yearly')?.value ? '+2$/mo' : '+20$/yr'"
          ></app-form-checkbox-button>
        </div>
        <div class="form-control">
          <app-form-checkbox-button
            [controlGroup]="addOns"
            controlName="customizableProfile"
            title="Customizable Profile"
            info="Custom theme on your profile"
            [price]="!plan.get('yearly')?.value ? '+2$/mo' : '+20$/yr'"
          ></app-form-checkbox-button>
        </div>
      </div>
    </div>
    <div class="form-nav">
      <button type="button" class="back" (click)="previousStep()">
        Go Back
      </button>
      <button type="button" (click)="nextStep()">Next Step</button>
    </div>
  </div>
  <div *ngIf="step === 4" class="form-step">
    <div class="form-group">
      <div class="header">
        <h1>Finishing up</h1>
        <p>Double check everything looks OK before confirming.</p>
        <div>Name:{{ personalInfo.get("name")?.value }}</div>
        <div>Email:{{ personalInfo.get("email")?.value }}</div>
        <div>Phone:{{ personalInfo.get("phone")?.value }}</div>
        <div>Plan Type:{{ plan.get("type")?.value }}</div>
        <div>Plan Option Yearly:{{ plan.get("yearly")?.value }}</div>
        <div>OnlineService:{{ addOns.get("onlineService")?.value }}</div>
        <div>Storage:{{ addOns.get("storage")?.value }}</div>
        <div>
          Customizable Profile:{{ addOns.get("customizableProfile")?.value }}
        </div>
      </div>
    </div>
    <div class="form-nav">
      <button type="button" class="back" (click)="previousStep()">
        Go Back
      </button>
      <button type="button" class="confirm">Confirm</button>
    </div>
  </div>
</form>
