<div class="steps">
  <div class="step" [class.active]="step === 1">
    <div class="step-info">Your Info</div>
  </div>
  <div class="step" [class.active]="step === 2">
    <div class="step-info">Select Plan</div>
  </div>
  <div class="step" [class.active]="step === 3">
    <div class="step-info">Add-ons</div>
  </div>
  <div class="step" [class.active]="step === 4">
    <div class="step-info">Summary</div>
  </div>
</div>
<form (ngOnSubmit)="previousStep()">
  <div *ngIf="step === 1" class="form-step">
    <div class="form-group">
      <div class="header">
        <h1>Personal Info</h1>
        <p>Please provide your name, email address and phone number.</p>
      </div>
    </div>
    <div class="form-nav">
        <button type="button" (click)="nextStep()">Next Step</button>
    </div>
  </div>
  <div *ngIf="step === 2" class="form-step">
    <div class="form-group">
      <div class="header">
        <h1>Select your plan</h1>
        <p>You have the option of monthly or yearly billing.</p>
      </div>
    </div>
    <div class="form-nav">
        <button type="button" class="back" (click)="previousStep()">Go Back</button>
        <button type="button" (click)="nextStep()">Next Step</button>
    </div>
  </div>
  <div *ngIf="step === 3" class="form-step">
    <div class="form-group">
      <div class="header">
        <h1>Pick add-ons</h1>
        <p>Add-ons help enhance your gaming experience.</p>
      </div>
    </div>
    <div class="form-nav">
        <button type="button" class="back" (click)="previousStep()">Go Back</button>
        <button type="button" (click)="nextStep()">Next Step</button>
    </div>
  </div>
  <div *ngIf="step === 4" class="form-step">
    <div class="form-group">
      <div class="header">
        <h1>Finishing up</h1>
        <p>Double check everything looks OK before confirming.</p>
      </div>
    </div>
    <div class="form-nav">
        <button type="button" class="back" (click)="previousStep()">Go Back</button>
        <button type="button" class="confirm">Confirm</button>
    </div>
  </div>
</form>
