@import "../../../styles/colors";

label {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem;
  border: 1px solid $light-gray;
  border-radius: 1rem;
  @media screen and (max-width: 45rem) {
    flex-direction: row;
    gap: 1rem;
  }

  &:hover {
    cursor: pointer;
    border-color: $marine-blue;
  }

  &.checked {
    border-color: $marine-blue;
  }

  .text {
    h1 {
      color: $marine-blue;
      font-size: 1.5rem;
    }

    p {
      color: $cool-gray;
    }
  }

  input {
    display: none;
  }

  img {
    width: 3rem;
  }
}
